.About {
    width: 80%;
    margin: 2rem auto;
    align-items: center;
    color: rgb(108, 120, 101);
    letter-spacing: 3px;
}

/* .About-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  } */

.About h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    letter-spacing: 3px;
    color: rgb(87, 86, 36);
    transform: scaleY(1.4) scalex(1.4);
    margin: 3rem auto;
    width: 50%;
}


.About p {
    font-size: 1.5rem;
    font-family: New Roman;
    transform: scaley(1.1);
}

.About h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1.8rem;
    transform: scaleY(1.3);
    color: rgb(140, 137, 137);
}

.About .explore-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.About .explore-btn:hover {
    background-color: #0069d9;
}

@media (max-width: 768px) {
    .About {
        font-size: 2rem;
        margin: 2rem auto;
        width: 90%;
        transform: scale(1);
    }

    .About h1 {
        font-size: 2.5rem;
        width: 70%;
        margin: 2.5rem auto;
        font-size: 2rem;
        margin: 2rem auto;
        width: 108%;
        letter-spacing: normal;
        transform: scale(1);
    }

    .About p {
        font-size: 1.2rem;
        width: 100%;
    }

    .About h2 {
        width: 80%;
        font-weight: 900;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .About {
        width: 90%;
        margin: 1.5rem auto;
        transform: scale(1);
    }

    .About h1 {
        font-size: 3rem;
        margin: 2rem auto;
        width: 100%;
        transform: scaley(1.2);
        letter-spacing: normal;
    }
}

@media (min-width: 1024px) {
    .About {
        width: 90%;
        margin: 1.5rem auto;
        transform: scale(1);
    }
}