.container {
    display: flex;
    justify-content: space-evenly;
    width:  100%;
    margin: 4rem auto;
}
.container img {
    transform:  rotate(45deg);
    width: 18rem;
    filter: brightness(80%);
    object-fit: cover;
    transition: ease-in-out 0.3s;
}
.container img:hover{
    cursor: pointer;
    transform: rotate(30deg)
}
.container3 {
    text-align: center;
    width: 45%;
    font-size: larger;
    font-weight: 900;
    line-height: 4rem;
    margin: 3rem 0rem;
    font-family: New Roman;
    letter-spacing: 0.2rem;
    color: #f9f2f2; /* Specify the text color */
  text-shadow: 2px 2px 2px rgba(55, 47, 47, 0.5); /* Add a text shadow */
  transition: color 0.3s, transform 0.3s;
  transform: scaley(1.1);
}